<%= form_with model: @article, local: true do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
    Oh Snap! Here's what went wrong:
      <% @article.errors.full_messages.each do |msg| %>
        <div>- <%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="form-box">
    <p>
      <%= form.text_field :img, class: "hide", value: rand(1..8) %>
    </p>

    <p>
      <%= form.text_field :title, placeholder: :title, class: "field-text" %>
    </p>

    <p>
      <%= form.text_field :author, placeholder: :author, class: "field-text" %>
    </p>

    <p>
      <%= form.text_area :summary, placeholder: :summary, class: "field-text" %>
    </p>

    <p>
      <%= form.text_area :text, placeholder: :text, class: "field-text" %>
    </p>
  </div>
  <div class="submit-box">
    <%= form.submit 'Create Article', class: 'btn btn-secondary form-btn' %>
    <%= button_to 'Close', {type: 'button' }, {class: 'btn btn-secondary form-btn', 'data-dismiss': "modal"} %>
  </div>

<% end %>