<div class="container">
  <div class="article-header">
    <div class="title-center">
      <%= image_tag("/assets/#{@article.img}", class: "img-fluid") %>
      <div class="text-box">
        <h1 class="article-title title-center">
          <%= @article.title %>
        </h1>
        
        <div class="article-format">
          <a href="#" data-toggle="modal" data-target="#formModal">Edit</a> | 
          <%= link_to 'Delete', article_path(@article),
              method: :delete,
              data: { confirm: 'Delete this article?' } %>
        </div>
        
        <div class="meta title-center">  
          by <%= @article.author %> — <%= @article.created_at %>
        </div>
        
        <p class="article-text">
          <%= @article.text %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="" id="">Update Article</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= render 'editform' %>
        
      </div>
    </div>
  </div>
</div>